.bars {
  position: relative;
  padding: 12px;
  cursor: pointer;

  >svg {
    transition: 0.2s;
  }

  &:hover>svg {
    transform: scale(1.1);
  }

  .settings {
    position: absolute;
    bottom: 60px;
    left: 0;
    z-index: 1000;
  }
}