.postInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 6px 16px;
  border-bottom: 1px solid #efefef;
}

.date {
  color: #8e8e8e;
  font-size: 10px;
  text-transform: uppercase;
}

.comments {
  height: calc(90vh - 190px);
  overflow-y: auto;
}

.postDescription {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 16px 0;

  >div:first-child {
    margin-right: 16px;
  }

  >pre {
    color: #000;
    font-weight: 300;
    white-space: pre-wrap;
    overflow-wrap: anywhere;

    >span {
      color: #262626;
      font-weight: 700;
      margin-right: 4px;
    }
  }
}