.close {
  position: fixed;
  top: 16px;
  right: 16px;
  cursor: pointer;

  >svg {
    width: 18px;
  }

}

.box {
  max-width: 1150px;
  max-height: 720px;
  width: 80vw;
  height: 80vh;

  overflow: hidden;
}

.box__inner {
  position: relative;
  height: calc(100% - 40px);
  overflow: hidden;
}