.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba($color: #000000, $alpha: 0.35);

  >span {
    position: fixed;
    top: 16px;
    right: 16px;
    cursor: pointer;

    >svg {
      width: 18px;
    }
  }
}

.box {
  background-color: #fff;
  border-radius: 12px;
}

.follow__box {
  height: 400px;
  width: 400px;

  >ul {
    overflow-y: scroll;
    height: 360px;

    >li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 16px;

      >div {
        display: flex;
        align-items: center;

        >span {
          margin-left: 12px;

          >p {
            cursor: pointer;
            font-weight: 500;
          }

          >span {
            color: #8e8e8e;
          }
        }

        >div {
          cursor: pointer;
        }
      }
    }
  }
}

.title {
  padding: 9px 0;
  border-bottom: 1px solid #e6e6e6;
  position: relative;

  >p {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }

  >span {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;

    >svg {
      color: #262626;
      width: 18px;
    }
  }
}

.filter>ul {
  display: flex;

  >li {
    width: 50%;
    padding: 12px 0;
    border-bottom: 1px solid #e6e6e6;
    color: #00376b;
    font-weight: 500;
    text-align: center;
    opacity: .5;
    cursor: pointer;
  }

  >.active {
    border-bottom: 1px solid #000;
    opacity: 1;
  }
}

.hashtags {
  height: 316px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  >span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    width: 102px;
    height: 102px;
    border: 1px solid #262626;
    border-radius: 50%;
  }

  >h3 {
    font-size: 24px;
  }
}

.options__box {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  >div {
    margin-top: 32px;
  }

  >h6 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 32px;

    &+p {
      color: #8e8e8e;
      margin-top: 8px;
    }
  }

  >p {
    margin: 16px 0;
  }

  >ul {
    width: 100%;

    >li {
      cursor: pointer;
      padding: 10px 0;
      border-top: 1px solid #e6e6e6;
      text-align: center;

      &:first-child {
        color: #ed4956;
        font-weight: 500;
      }
    }
  }
}