.buttonInner {
  position: relative;

  >svg {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
  }
}

.loading {
  p {
    opacity: 0;
  }

  >svg {
    display: block;
  }
}