.box {
  list-style: none;
  width: 400px;

  >li {
    text-align: center;
    padding: 14.5px;
    border-top: 1px solid #dbdbdb;
    cursor: pointer;

    &:first-child {
      border-top: none;
    }

    &:nth-child(-n + 2) {
      font-weight: 700;
      color: #ed4956;
    }
  }
}