.mediaBox {
  position: relative;
  overflow: hidden;
  width: 100%;

  >img,
  >video {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: calc(100% + 0.5px);
    transform-origin: top left;
  }
}