.comments {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  >svg {
    width: 32px;
  }
}

.noComments {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  >h6 {
    color: #000;
    font-size: 24px;
    margin-bottom: 8px;
  }

  >p {
    color: #000;
    font-size: 14px;
  }
}

.showMore {
  width: 24px;
  height: 24px;
  margin: 8px auto;
  cursor: pointer;

  >svg {
    color: #000;
  }
}